---
const { image, title, desc, url } = Astro.props;
---

<div class="project-card fade-in">
    <a href={url}><img src={image} alt="Proyecto"/></a>
    <div class="project-details">
        <h3>{title}</h3>
        <p>{desc}</p>
        <div class="buttons">
            <a href={url}>+</a>
        </div>
    </div>
</div>

<style>
    .project-card {
        position: relative;
        overflow: hidden;
        background-color: var(--color-6);
        border-radius: 8px;
        margin: 10px;
        width: 100%;
        max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .project-card img {
        width: 100%;
        height: auto;
        border-radius: 8px 8px 0 0;
    }

    .project-details {
        padding: 20px;
        text-align: center;
    }

    .project-details h3 {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
        color: var(--color-1);
    }

    .project-details p {
        padding: 0 10px;
        margin-bottom: 14px;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .buttons a {
        display: inline-block;
        margin-right: 10px;
        padding: 8px 15px;
        background-color: var(--color-4);
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        text-decoration: none; /* Añade este estilo para quitar el subrayado predeterminado en los enlaces */
    }
</style>
